{% extends 'base.html' %}


{% block content %}

<div class='container'>
    <div class='row'>
        <dic class='col-md-12'>
            <div class='card'>
                <div class='card-body'>
                    <form action="{% url 'do_update_emp' emp.id %}" method="POST" style='padding:5px 10px 5px 10px'>
                        {% csrf_token %}

                        <div class='md-3'>
                            <label for='roll'>Employee Name : </label>
                            <input type='text'  name='name' class='form-control' value='{{emp.Name}}' required><br>
                        </div>

                        <div class='md-3'>
                            <label for='name'>Age : </label>
                            <input type='text' name='age' class='form-control' value='{{emp.Age}}'  required><br>
                        </div>

                        <div class='md-3'>
                            <label for='email'>Email : </label>
                            <input type='email' id='email' name='email' class='form-control' value='{{emp.Email}}' required><br>
                        </div>

                        <div class='md-3'>
                            <label for='phone'>Employee ID: </label>
                            <input type='text'  name='emp_id' class='form-control' value='{{emp.Emp_id}}'><br>
                        </div>


                        <div class='md-3'>
                            <label for='phone'>Phone : </label>
                            <input type='text' id='phone' name='phone' class='form-control' value='{{emp.Phone}}'><br>
                        </div>

                        <div class='md-3'>
                            <label for='name'>Designation : </label>
                            <input type='text' name='position' class='form-control' value='{{emp.Position}}' required><br>
                        </div>

                        <div class='md-3'>
                            <label for='name'>Experience : </label>
                            <input type='text' name='experience' class='form-control' value='{{emp.Experience}}' required><br>
                        </div>

                        <div class='md-3'>
                            <label for='name'>Upload Your Resume : </label>
                            <input type='file' name='resume'  required><br>
                        </div>

                        <div class='md-3'>
                            <label for='phone'>Expected Salary : </label>
                            <input type='text'  name='salary' value ='{{emp.Phone}}' class='form-control' ><br>
                        </div> 
                
                        <div class='md-3'>
                            <label for='address'>Address : </label>
                            <input type='text'  name='adress' value ='{{emp.Address}}' class='form-control' ><br>
                        </div>

                        <div class='md-3'>
                            <label for='phone'>Upload Your Photo: </label>
                            <input type='file'  name='photo'  placeholder='Enter Your Phone Number'><br><br>
                        </div>

                        <div class='md-3'>
                            <label for='name'>Joining Date : </label>
                            {% comment %} <input type='date' name='join_date'   required><br> {% endcomment %}
                            <input type='date'  name='join_date'  value='{{emp.Joining_Date}}'><br>
                        </div>


                        <div class='container  text-center my-3'>
                            <button class='btn btn-primary'>
                               Update Employee 
                            </button><br> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}